In [129]:
#import numpy, pandas, and matplotlib.pyplot
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [170]:
mlb_batting = pd.read_csv('MLBPlayoffDataBatting.csv', index_col = 0)

In [138]:
#Data type of our data set
type(mlb_batting)

pandas.core.frame.DataFrame

In [171]:
#Coverting column to original data types
mlb_bat = pd.to_datetime(mlb_batting['Date'],errors='coerce')
pd.to_numeric(mlb_batting['Gm#'],errors='coerce')
pd.to_numeric(mlb_batting['PA'],errors='coerce')
pd.to_numeric(mlb_batting['AB'],errors='coerce')
pd.to_numeric(mlb_batting['R'],errors='coerce')
pd.to_numeric(mlb_batting['H'],errors='coerce')
pd.to_numeric(mlb_batting['2B'],errors='coerce')
pd.to_numeric(mlb_batting['3B'],errors='coerce')
pd.to_numeric(mlb_batting['HR'],errors='coerce')
pd.to_numeric(mlb_batting['RBI'],errors='coerce')
pd.to_numeric(mlb_batting['BB'],errors='coerce')
pd.to_numeric(mlb_batting['IBB'],errors='coerce')
pd.to_numeric(mlb_batting['SO'],errors='coerce')
pd.to_numeric(mlb_batting['HBP'],errors='coerce')
pd.to_numeric(mlb_batting['SH'],errors='coerce')
pd.to_numeric(mlb_batting['SF'],errors='coerce')
pd.to_numeric(mlb_batting['ROE'],errors='coerce')
pd.to_numeric(mlb_batting['GDP'],errors='coerce')
pd.to_numeric(mlb_batting['SB'],errors='coerce')
pd.to_numeric(mlb_batting['CS'],errors='coerce')
pd.to_numeric(mlb_batting['WPA'],errors='coerce')
pd.to_numeric(mlb_batting['RE24'],errors='coerce')
pd.to_numeric(mlb_batting['aLI'],errors='coerce')
pd.to_numeric(mlb_batting['LOB'],errors='coerce')
pd.to_numeric(mlb_batting['#'],errors='coerce')
pd.to_numeric(mlb_batting['Attendance'],errors='coerce')
pd.to_numeric(mlb_batting['GmLen'],errors='coerce')

Rk
1       180
2       180
3       237
4       237
5       440
6       440
7       192
8       192
9       232
10      232
11      195
12      195
13      214
14      214
15      212
16      212
17      273
18      273
19      215
20      215
21      232
22      232
23      315
24      315
25      205
26      205
27      225
28      225
29      243
30      243
       ...
1253    168
1254    230
1255    230
1256    168
1257    189
1258    322
1259    222
1260    222
1261    322
1262    189
1263    160
1264    192
1265    192
1266    160
1267    182
1268    221
1269    221
1270    182
1271    196
1272    186
1273    195
1274    195
1275    196
1276    186
1277    214
1278    252
1279    184
1280    184
1281    252
1282    214
Name: GmLen, Length: 1282, dtype: int64

In [172]:
#Extracting year from datetime type and inserting it as its own column
mlb_batting['year'] = mlb_bat.dt.year

In [173]:
print(mlb_batting)

          Date Series  Gm#   Tm  Opp    Rslt  PA  AB   R   H  ...   SB  CS  \
Rk                                                            ...
1     10/28/18     WS    5  BOS  LAD   W 5-1  34  33   5   8  ...    0   0
2     10/28/18     WS    5  LAD  BOS   L 1-5  31  29   1   3  ...    0   0
3     10/27/18     WS    4  BOS  LAD   W 9-6  42  35   9   8  ...    0   0
4     10/27/18     WS    4  LAD  BOS   L 6-9  41  36   6   9  ...    0   0
5     10/26/18     WS    3  BOS  LAD   L 2-3  65  57   2   7  ...    1   1
6     10/26/18     WS    3  LAD  BOS   W 3-2  66  61   3  11  ...    0   1
7     10/24/18     WS    2  BOS  LAD   W 4-2  33  31   4   8  ...    0   0
8     10/24/18     WS    2  LAD  BOS   L 2-4  33  29   2   3  ...    0   0
9     10/23/18     WS    1  BOS  LAD   W 8-4  38  33   8  11  ...    1   1
10    10/23/18     WS    1  LAD  BOS   L 4-8  38  34   4   8  ...    0   0
11    10/20/18   NLCS    7  LAD  MIL   W 5-1  38  33   5  10  ...    1   1
12    10/20/18   NLCS    7  MIL  LAD   L 1-5  33  33   1   7  ...    0   0
13    10/19/18   NLCS    6  LAD  MIL   L 2-7  35  32   2   5  ...    0   0
14    10/19/18   NLCS    6  MIL  LAD   W 7-2  42  35   7  11  ...    0   0
15    10/18/18   ALCS    5  BOS  HOU   W 4-1  38  36   4   8  ...    0   0
16    10/18/18   ALCS    5  HOU  BOS   L 1-4  34  32   1   5  ...    0   0
17    10/17/18   ALCS    4  BOS  HOU   W 8-6  46  37   8  11  ...    0   1
18    10/17/18   ALCS    4  HOU  BOS   L 6-8  46  39   6  13  ...    1   0
19    10/17/18   NLCS    5  LAD  MIL   W 5-2  36  29   5   9  ...    3   0
20    10/17/18   NLCS    5  MIL  LAD   L 2-5  33  31   2   5  ...    0   1
21    10/16/18   ALCS    3  BOS  HOU   W 8-2  40  35   8   9  ...    0   0
22    10/16/18   ALCS    3  HOU  BOS   L 2-8  37  34   2   7  ...    0   0
23    10/16/18   NLCS    4  LAD  MIL   W 2-1  51  44   2   7  ...    1   1
24    10/16/18   NLCS    4  MIL  LAD   L 1-2  50  46   1   8  ...    1   0
25    10/15/18   NLCS    3  LAD  MIL   L 0-4  35  32   0   5  ...    0   0
26    10/15/18   NLCS    3  MIL  LAD   W 4-0  37  34   4   8  ...    0   1
27    10/14/18   ALCS    2  BOS  HOU   W 7-5  38  34   7   9  ...    0   0
28    10/14/18   ALCS    2  HOU  BOS   L 5-7  39  34   5   7  ...    0   0
29    10/13/18   ALCS    1  BOS  HOU   L 2-7  34  30   2   3  ...    0   0
30    10/13/18   ALCS    1  HOU  BOS   W 7-2  43  30   7   5  ...    1   2
...        ...    ...  ...  ...  ...     ...  ..  ..  ..  ..  ...   ..  ..
1253   10/8/00   NLDS    4  NYM  SFG   W 4-0  36  31   4   6  ...    1   1
1254   10/8/00   ALDS    5  NYY  OAK   W 7-5  42  37   7  12  ...    1   0
1255   10/8/00   ALDS    5  OAK  NYY   L 5-7  42  38   5  13  ...    0   0
1256   10/8/00   NLDS    4  SFG  NYM   L 0-4  30  28   0   1  ...    0   0
1257   10/7/00   NLDS    3  ATL  STL   L 1-7  32  28   1   3  ...    1   1
1258   10/7/00   NLDS    3  NYM  SFG   W 3-2  50  43   3   9  ...    2   1
1259   10/7/00   ALDS    4  NYY  OAK  L 1-11  36  34   1   8  ...    0   0
1260   10/7/00   ALDS    4  OAK  NYY  W 11-1  45  36  11  11  ...    1   0
1261   10/7/00   NLDS    3  SFG  NYM   L 2-3  57  49   2  11  ...    0   0
1262   10/7/00   NLDS    3  STL  ATL   W 7-1  40  35   7   8  ...    3   1
1263   10/6/00   ALDS    3  CHW  SEA   L 1-2  31  25   1   3  ...    0   0
1264   10/6/00   ALDS    3  NYY  OAK   W 4-2  35  31   4   6  ...    0   1
1265   10/6/00   ALDS    3  OAK  NYY   L 2-4  35  30   2   4  ...    0   0
1266   10/6/00   ALDS    3  SEA  CHW   W 2-1  35  28   2   6  ...    0   0
1267   10/5/00   NLDS    2  ATL  STL  L 4-10  37  34   4   7  ...    0   0
1268   10/5/00   NLDS    2  NYM  SFG   W 5-4  44  38   5  10  ...    0   0
1269   10/5/00   NLDS    2  SFG  NYM   L 4-5  39  35   4   8  ...    1   0
1270   10/5/00   NLDS    2  STL  ATL  W 10-4  39  32  10   9  ...    1   0
1271   10/4/00   ALDS    2  CHW  SEA   L 2-5  37  30   2   5  ...    3   0
1272   10/4/00   NLDS    1  NYM  SFG   L 1-5  37  31   1   5  ...    0   0
1273   10/4/00   ALDS    2  NYY  OAK   W 4-0  40  33   4   8  ...    0   1
1274   10/4/00   ALDS    2  OAK  NYY   L 0-4  33  32   0   6  ...    0   0
1275   10/4/00   ALDS    2  SEA  CHW   W 5-2  39  32   5   9  ...    1   0
1276   10/4/00   NLDS    1  SFG  NYM   W 5-1  38  34   5  10  ...    1   0
1277   10/3/00   NLDS    1  ATL  STL   L 5-7  43  33   5   8  ...    0   2
1278   10/3/00   ALDS    1  CHW  SEA   L 4-7  44  37   4   9  ...    1   0
1279   10/3/00   ALDS    1  NYY  OAK   L 3-5  36  33   3   7  ...    0   0
1280   10/3/00   ALDS    1  OAK  NYY   W 5-3  36  31   5  10  ...    1   0
1281   10/3/00   ALDS    1  SEA  CHW   W 7-4  44  39   7  13  ...    1   1
1282   10/3/00   NLDS    1  STL  ATL   W 7-5  42  35   7  11  ...    2   0

        WPA   RE24    aLI  LOB   #  Attendance  GmLen  year
Rk
1     0.137  0.741  0.542    2  12      54,367    180  2018
2    -0.364 -3.258  0.865    3  15      54,367    180  2018
3     0.451  4.742  1.060    6  17      54,400    237  2018
4    -0.050  1.742  1.150    8  19      54,400    237  2018
5    -1.179 -6.515  1.758    9  23      53,114    440  2018
6    -0.677 -5.044  1.698   12  23      53,114    440  2018
7     0.178 -0.252  0.968    5  10      38,644    192  2018
8    -0.325 -2.781  1.084    4  13      38,644    192  2018
9     0.463  3.749  1.026    6  11      38,454    232  2018
10   -0.035 -0.783  1.281    7  13      38,454    232  2018
11    0.190  0.560  0.810    6  15      44,097    195  2018
12   -0.310 -3.439  0.830    5  17      44,097    195  2018
13   -0.162 -2.439  0.728    6  19      43,619    214  2018
14    0.339  3.054  0.509   11  16      43,619    214  2018
15    0.078 -0.419  0.671    7  11      43,210    212  2018
16   -0.422 -3.418  0.774    6  12      43,210    212  2018
17    0.596  3.581  1.035   11  12      43,277    273  2018
18    0.097  1.581  1.630   13  11      43,277    273  2018
19    0.201  1.216  1.078    7  17      54,502    215  2018
20   -0.300 -2.257  0.829    4  17      54,502    215  2018
21    0.255  3.582  0.929    5  13      43,102    232  2018
22   -0.246 -2.419  1.104    8  11      43,102    232  2018
23   -0.555 -3.930  1.661   11  22      53,764    315  2018
24   -1.055 -5.149  1.746   10  20      53,764    315  2018
25   -0.443 -4.259  1.242    8  15      52,793    205  2018
26    0.057 -0.258  0.544    6  15      52,793    205  2018
27    0.334  2.750  1.002    7  11      37,960    225  2018
28   -0.168  0.217  1.086    7  11      37,960    225  2018
29   -0.374 -2.783  1.480    5  11      38,007    243  2018
30    0.127  2.217  1.043    9  11      38,007    243  2018
...     ...    ...    ...  ...  ..         ...    ...   ...
1253  0.115 -0.306  0.430    8  10      56,245    168  2000
1254  0.198  1.838  0.659    8  10      41,170    230  2000
1255 -0.301 -0.163  1.155   10  13      41,170    230  2000
1256 -0.385 -4.843  0.829    3  15      56,245    168  2000
1257 -0.237 -4.044  0.779    4  16      49,898    189  2000
1258 -0.399 -3.707  2.139   10  19      56,270    322  2000
1259 -0.315 -4.329  0.676    8  10      56,915    222  2000
1260  0.186  5.670  0.477    7  13      56,915    222  2000
1261 -0.900 -4.996  1.866   16  19      56,270    322  2000
1262  0.263  1.954  0.568    6  16      49,898    189  2000
1263 -0.614 -4.064  1.304    3  12      48,010    160  2000
1264 -0.005 -0.738  1.054    7  10      56,606    192  2000
1265 -0.505 -3.332  1.263    6   9      56,606    192  2000
1266 -0.113 -2.089  1.592    8  11      48,010    160  2000
1267 -0.047 -1.091  0.421    6  18      52,389    182  2000
1268  0.201 -0.215  1.120    9  13      40,430    221  2000
1269 -0.298 -1.213  1.803    5  16      40,430    221  2000
1270  0.451  5.473  0.424    5  13      52,389    182  2000
1271 -0.460 -3.491  1.309    8  11      45,383    196  2000
1272 -0.222 -3.691  0.878    9  17      40,430    186  2000
1273 -0.007 -1.161  0.970    9  11      47,860    195  2000
1274 -0.505 -5.162  0.999    6   9      47,860    195  2000
1275  0.043 -0.489  0.926    7  12      45,383    196  2000
1276  0.280  0.830  0.450    9  14      40,430    186  2000
1277 -0.206 -0.094  1.197   11  18      52,378    214  2000
1278 -0.375 -2.100  1.467   10  10      45,290    252  2000
1279 -0.288 -2.162  1.102    6  10      47,360    184  2000
1280  0.216  0.410  1.163    7  11      47,360    184  2000
1281  0.125  0.902  1.633    7  13      45,290    252  2000
1282  0.294  2.472  0.551   11  17      52,378    214  2000

[1282 rows x 32 columns]

In [181]:
BOS2018 = mlb_batting.loc[(mlb_batting['Tm'] == 'BOS') & mlb_batting['year'].isin([2018])]

In [182]:
BOS2018

,Date,Series,Gm#,Tm,Opp,Rslt,PA,AB,R,H,...,SB,CS,WPA,RE24,aLI,LOB,#,Attendance,GmLen,year
Rk,,,,,,,,,,,,,,,,,,,,,
1,10/28/18,WS,5,BOS,LAD,W 5-1,34,33,5,8,...,0,0,0.137,0.741,0.542,2,12,"54,367",180,2018
3,10/27/18,WS,4,BOS,LAD,W 9-6,42,35,9,8,...,0,0,0.451,4.742,1.060,6,17,"54,400",237,2018
5,10/26/18,WS,3,BOS,LAD,L 2-3,65,57,2,7,...,1,1,-1.179,-6.515,1.758,9,23,"53,114",440,2018
7,10/24/18,WS,2,BOS,LAD,W 4-2,33,31,4,8,...,0,0,0.178,-0.252,0.968,5,10,"38,644",192,2018
9,10/23/18,WS,1,BOS,LAD,W 8-4,38,33,8,11,...,1,1,0.463,3.749,1.026,6,11,"38,454",232,2018
15,10/18/18,ALCS,5,BOS,HOU,W 4-1,38,36,4,8,...,0,0,0.078,-0.419,0.671,7,11,"43,210",212,2018
17,10/17/18,ALCS,4,BOS,HOU,W 8-6,46,37,8,11,...,0,1,0.596,3.581,1.035,11,12,"43,277",273,2018
21,10/16/18,ALCS,3,BOS,HOU,W 8-2,40,35,8,9,...,0,0,0.255,3.582,0.929,5,13,"43,102",232,2018
27,10/14/18,ALCS,2,BOS,HOU,W 7-5,38,34,7,9,...,0,0,0.334,2.750,1.002,7,11,"37,960",225,2018
29,10/13/18,ALCS,1,BOS,HOU,L 2-7,34,30,2,3,...,0,0,-0.374,-2.783,1.480,5,11,"38,007",243,2018
35,10/9/18,ALDS,4,BOS,NYY,W 4-3,41,35,4,8,...,1,0,0.104,-0.782,0.649,10,9,"49,641",208,2018
38,10/8/18,ALDS,3,BOS,NYY,W 16-1,53,44,16,18,...,2,0,0.336,11.218,0.386,10,11,"49,657",221,2018
47,10/6/18,ALDS,2,BOS,NYY,L 2-6,34,31,2,5,...,1,0,-0.319,-2.783,0.761,5,12,"39,151",211,2018
52,10/5/18,ALDS,1,BOS,NYY,W 5-4,35,30,5,8,...,1,0,0.199,0.748,0.424,6,10,"39,059",221,2018